@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  margin: 0px;
  min-height: 100svh;
  width: 100%;
}

#root {
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

html{
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100%; 
}

h1 {
  
  line-height: 1.1;
}



.certGrad {
  border-image: linear-gradient(to bottom right, var(--tw-color-primary), blue) 1;
}

.devborder {
  border: 2px solid white;
}


